@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.playerDiv{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(196, 143, 252);
    margin-bottom: 10px;
    border-radius: 7px;
}

.principalContainer{
    background-color: rgb(211, 196, 227);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    border: 2px solid rgb(143, 149, 211);
    height: max-content;
    font-family: 'Roboto', sans-serif;        
    padding: 7px;
}

.title{
    font-family: 'Arvo', serif;
}

.divRoundsToWin{
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
}

.divRoundsWon{
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
}

.playerName{
    font-size: 1.5rem;
}

.divButtons{
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.buttonCalculate, .buttonBack{
    margin-left: 4px;
    margin-right: 4px;
    background-color: #333;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 24px;
    cursor: pointer;
}

.inputValues{
    background-color: rgb(255, 255, 255);
    border: none;
    padding-left: 5px;
    margin-left: 5px;
}

.namepoints{
    display: flex;
}

.playerNameDiv{
    background-color: rgb(148, 82, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 5px;
}

.playerName{
    color: white;
}