

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.App{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: url('../src/assets/wallpaper.png')
}